{% extends "base.html" %}

{% block content %}
    <h1>About this site</h1>
    <p left-margin="100px">I am Michael. I am a graduate student in the Master of Science in Data Science program at Southern Methodist University in Dallas, Texas. This small site serves as a portfolio for my work done in the Data Visualization 2 course taught by Professor Ira Greenberg. I've never really built a website before and I am not using the easy tools (although flask seems to make it easy) so please forgive me if things look non-standard. Also I'd love to hear feedback on how I could make it better but I still need to workout a comment submission system. Maybe later!</p>
    <p left-margin="100px">In any case, please enjoy.</p>
{% endblock %}