{% extends "base.html" %}

{% block content %}
	<h1>Project: </h1>
	<h2>{{ project.name }}</h2>
  <div id="sketch-holder">
	<title>d3 sketch</title>
  <svg width="960" height="500"></svg>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='hw08/hw08.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hw08style.css') }}">
  <!-- <script src="//d3js.org/d3.v3.min.js"></script> -->
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='hw08/demo.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hw08demostyle.css') }}"> -->
  </div>
	<p>{{ project.description }}</p>
{% endblock %}