<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Exploring SVG shape primitives in D3</title>

	<style type="text/css">
		body {
			background-color: #aaaaaa;
		}
		.legend {
			font-size: 11px;
			font-family: arial;
		}
		.legend2 {
			font-size: 12px;
			font-family: arial;
			stroke: #445544;
		}
		rect {
			stroke-width: 2;
		}
		circle {
			stroke-width: 2;
		}
		#pieChart {    
			position:absolute;
			top:10px;
			left:10px;
			width:400px;
			height: 400px; 
		}
		#barChart {
			position:absolute;
			top:160px;
			left:410px;
			height: 300px;
		}
		.axis {
			font: 10px sans-serif;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
		.title {
			font-family: Verdana;
			font-size: 15px;			
		}
	</style>
</head>
	<body>
	    <div id="pieChart"></div>
    	<div id="barChart"></div> 
		<script src="https://d3js.org/d3.v3.min.js"></script>
		<script>

		// some data for playing with
		var annualBudget = [
			{"family":"m", "category":"auto", "amount":7500, "colorCode":"#776622"},
			{"family":"m", "category":"home", "amount":20000, "colorCode":"#ffaa22"},
			{"family":"m", "category":"food", "amount":15000, "colorCode":"#aa00bb"},
			{"family":"m", "category":"utilities", "amount":6200, "colorCode":"#3344cc"},
			{"family":"m", "category":"entertainment", "amount":3600, "colorCode":"#ff2288"},
			{"family":"m", "category":"tuition", "amount":35000, "colorCode":"#006622"},
			{"family":"m", "category":"medical", "amount":4500, "colorCode":"#6688ff"},
			{"family":"m", "category":"pets", "amount":2000, "colorCode":"#222233"},
			{"family":"v", "category":"auto", "amount":6000, "colorCode":"#776622"},
			{"family":"v", "category":"home", "amount":12000, "colorCode":"#ffaa22"},
			{"family":"v", "category":"food", "amount":10000, "colorCode":"#aa00bb"},
			{"family":"v", "category":"utilities", "amount":4000, "colorCode":"#3344cc"},
			{"family":"v", "category":"entertainment", "amount":2700, "colorCode":"#ff2288"},
			{"family":"v", "category":"tuition", "amount":45000, "colorCode":"#006622"},
			{"family":"v", "category":"medical", "amount":4000, "colorCode":"#6688ff"},
			{"family":"v", "category":"pets", "amount":3000, "colorCode":"#222233"},
			{"family":"a", "category":"auto", "amount":8000, "colorCode":"#776622"},
			{"family":"a", "category":"home", "amount":27000, "colorCode":"#ffaa22"},
			{"family":"a", "category":"food", "amount":19000, "colorCode":"#aa00bb"},
			{"family":"a", "category":"utilities", "amount":6000, "colorCode":"#3344cc"},
			{"family":"a", "category":"entertainment", "amount":3900, "colorCode":"#ff2288"},
			{"family":"a", "category":"tuition", "amount":40000, "colorCode":"#006622"},
			{"family":"a", "category":"medical", "amount":6000, "colorCode":"#6688ff"},
			{"family":"a", "category":"pets", "amount":3000, "colorCode":"#222233"},
		];

		//==========================================================
		// DONUT CHART
		// this site shows how to include mouseovers and putting
		// your graphic into a function http://bl.ocks.org/diethardsteiner/3287802
		function donutChart(){
			var w = 400, h = 300,
				outerRadius = Math.min(w, h)/2,
				innerRadius = outerRadius*0.999,
				//for animation...
				innerRadiusFinal = outerRadius*0.5,
				innerRadiusFinal3 = outerRadius*0.45
				;
			var svg = d3.select("#pieChart").append("svg")
				.attr("width", w)
				.attr("height", h)
				.attr("border", "1px solid")

			// some colors we'll need
		    var color = d3.scale.category20()    //builtin range of colors
			// var color = d3.scale.ordinal()
			// 	.range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

			// want to have two charts, a donut showing total cost for each family
			// need to know how to group and summarize: http://learnjsdata.com/group_data.html
			// here we are using next and rollup from d3 to get totals for each family
			var expensesTotAmount = d3.nest()
				.key(function(d) { return d.family; })
				.rollup(function(v) { return d3.sum(v, function(d) { return d.amount; }); })
				.entries(annualBudget);
			// console.log(JSON.stringify(expensesTotAmount));

			// now lets use it in a donut chart
			var donut = svg.append("g")
				.attr("transform", "translate(" + w/2 + "," + h/2 + ")");

			//arc path for 3 donut charts
			var arc = d3.svg.arc()
				.outerRadius(100)
				.innerRadius(70);

			//UPDATING the pie
			pie = d3.layout.pie()
				.sort(null)
				.value(function(d) {return d.values;})
				.padAngle(0.0);

			//linking data to donut
			path = donut.selectAll("path")
				.data(pie(expensesTotAmount))
				.enter()
				.append("path")
				.attr("d", arc)
				.style("fill", function(d, i) {return color(i);});
		}

		donutChart();
// =============================================================
		// BAR CHART NOW
		function barChart(){
			var margin = {top: 20, right: 20, bottom: 70, left: 60},
			    width = 600 - margin.left - margin.right,
			    height = 300 - margin.top - margin.bottom;

			// Parse the date / time
			// var	parseDate = d3.time.format("%Y-%m").parse;

			var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

			var y = d3.scale.linear().range([height, 0]);

			var xAxis = d3.svg.axis()
			    .scale(x)
			    .orient("bottom");
			    // .tickFormat(d3.time.format("%Y-%m"));

			var yAxis = d3.svg.axis()
			    .scale(y)
			    .orient("left")
			    .ticks(10);

			var svg = d3.select("#barChart").append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			  .append("g")
			    .attr("transform", 
			          "translate(" + margin.left + "," + margin.top*2 + ")");

			//nesting and rolling up our data: returns dictionary with "key" and "values"
			var amountByCat = d3.nest()
				.key(function(d) { return d.category; })
				.rollup(function(v) { return d3.sum(v, function(d) { return d.amount; }); })
				.entries(annualBudget);
			// console.log(JSON.stringify(amountByCat));

			//adjusting the axes
			x.domain(amountByCat.map(function(d) { return d.key; }));
  			y.domain([0, d3.max(amountByCat, function(d) { return d.values; })]);

		    //adding the axes to the svg
			svg.append("g")
		    	.attr("class", "x axis")
		    	.attr("transform", "translate(0," + height + ")")
	     		.call(xAxis)
		    .selectAll("text")
		    	.style("text-anchor", "end")
		    	.attr("dx", "-.8em")
		    	.attr("dy", "-.55em")
		    	.attr("transform", "rotate(-90)" );

			svg.append("g")
		    	.attr("class", "y axis")
		    	.call(yAxis)
		    .append("text")
		    	.attr("transform", "rotate(-90)")
		    	.attr("y", 6)
		    	.attr("dy", ".71em")
		    	.style("text-anchor", "end")
		    	.text("Value ($)");


			//UPDATING BAR CHART
			svg.selectAll("bar")
		    	.data(amountByCat) //load in the data
		    .enter().append("rect") //append a rectangle and do the following for every datum
		    	.style("fill", "steelblue")
		    	.attr("x", function(d) { return x(d.key); })
		    	.attr("width", x.rangeBand())
		    	.attr("y", function(d) { return y(d.values); })
		    	.attr("height", function(d) { return height - y(d.values); });

		    //title
			svg.append("text")
				.attr("x", (width + margin.left + margin.right)/2)
				.attr("y", -10)
				.attr("class","title")				
				.attr("text-anchor", "middle")
				.text("Overall Budget Breakdown");
		}

		barChart();
		</script>
	</body>

</html>